.task_div {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-input button {
  width: 15%;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #218838;
}

.taskList ul {
  list-style-type: none;
  padding: 0;
}

.taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: grab;
  transition: background-color 0.3s ease;
}

.taskList li:active {
  background-color: #e2e6ea;
}

.taskList li span:first-child {
  font-weight: bold;
  margin-right: 10px;
}

.taskList li span {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #28a745;
}

.taskList li button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.taskList li button:hover {
  background-color: #0056b3;
}

.taskList li svg {
  cursor: pointer;
  margin-left: 10px;
}

.taskList li svg:hover {
  opacity: 0.7;
}

.task-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  /* text-align: center; */
}

.auth-input {
  margin-bottom: 20px;
}

.auth-input input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px;
}
